name: Test End-to-end
on: [workflow_dispatch, pull_request]
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    # container:
    #  image: alpine:3.14
    #image: cypress/browsers:22.17.1
    # options: --user 1001 # tried this due to sudo error, but after this, EACCES error permission denied
    env:
      MARIADB_DATABASE: gb_wiki_ci
      MARIADB_ROOT_PASSWORD: gb_root_ci
    steps:
      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
      - run: whoami
      - run: which docker
      - run: docker --version
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Create an .env file
        run: |
          echo "MW_SITE_SERVER=http://localhost:8080" >> .env
          echo "MW_SCRIPT_PATH=\"\"" >> .env
          echo "MW_SITE_NAME=\"Giant Bomb Wiki\"" >> .env
          echo "MW_DB_HOST=db" >> .env
          echo "MW_DB_NAME=gb_wiki_ci" >> .env
          echo "MW_DB_USER=giantbomb.ci" >> .env
          echo "MW_PASS=gbwikipass.ci" >> .env
          echo "MARIADB_API_DUMP_DATABASE=gb_api_dump" >> .env
          echo "MARIADB_USER=wiki_admin_ci" >> .env
          echo "MARIADB_PASSWORD=test.password.ci" >> .env
          echo "MARIADB_DATABASE: gb_wiki_ci" >> .env
          echo "MARIADB_ROOT_PASSWORD: gb_root_ci" >> .env
      - uses: pnpm/action-setup@v4.1.0
        with:
          version: 10
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"
          cache: "pnpm"
      - name: Install pnpm and dependencies
        run: pnpm install
      - run: |
          docker compose up --build -d
          docker exec giant-bomb-wiki-wiki-1 /bin/bash /installwiki.sh
          docker compose logs --tail=50 > logs.txt
      - name: Upload docker logs
        uses: actions/upload-artifact@v4
        with:
          name: container-logs
          path: logs.txt
      - run: docker ps
      # - name: install the wiki, get container name and run installwiki.sh
      #   run
      # - name: Verify wiki is up
      #   uses: jtalk/url-health-check-action@v4
      #   with:
      #     url: http://localhost:8080/index.php|http://localhost:8080/index.php/Special:Version
      #     follow-redirect: false
      #     max-attempts: 3
      #     retry-delay: 2s
      #     retry-all: false
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          wait-on: "http://localhost:8080"
          wait-on-timeout: 180 # seconds
          browser: chrome
          # start: npm run start
