name: Test End-to-end
on: [workflow_dispatch, pull_request]
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    # container:
    #  image: alpine:3.14
    #image: cypress/browsers:22.17.1
    # options: --user 1001 # tried this due to sudo error, but after this, EACCES error permission denied
    steps:
      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
      - run: whoami
      - run: which docker
      - run: docker --version
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4.1.0
        with:
          version: "10.13.1"
      - run: docker compose up -d
      - run: docker ps
      # - uses: wei/curl@v1
      #   with:
      #     args: http://localhost:8080/index.php/Main_Page
      # - name: curl
      #   run: curl -X GET 'http://localhost:8080/index.php/Main_Page'
      # - name: Cypress run
      #   uses: cypress-io/github-action@v6
      #   with:
      #     wait-on: "http://localhost:8080"
      #     wait-on-timeout: 180 # seconds
      #     browser: chrome
      #     # start: npm run start
